@import '_variables.scss';

@mixin position($jc:center,$ai:center){
	display:flex;
	justify-content: $jc;
	align-items: $ai;
}
@mixin inputstyle(){
	width: 100%;
	padding: 6px;
	margin-bottom: 20px;
	font-size: 12px;
}
@mixin btn(){
	background-color: $pozadina1;
	color: $boja4;
	letter-spacing: 2px;
	font-size: 2vh;
	border-radius: 20px;
	padding: 2vh;
}

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	text-decoration:none;
}

.cleaner{
	clear:both;
}
.center1{
	margin: 0px auto;
	width: 80%;
}
header{
	width: 100%;
	padding: 12px,0px;
	position: absolute;
	z-index: 1;
	font-weight: bold;
}
#logo{
	float: left;
	padding-top: 12px;
	font-size: 20px;
	a{
		color: $boja2;
		&:hover{
			color: $boja1;
		}	
	}
}
nav{
	float: right;
	ul{
		padding-top: 12px;
		li{
			a{
				&:hover{
					color: $boja4;
				}
			}
		}
	}
	li{
		display: inline-block;
		padding-left: 10px;
		a{
			text-decoration: none;
			color: $boja3;
			font-size: 20px;
		}
	}
}
#cover{
	background-image: url(../img/cover.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 95vh;
	display: flex;
	@include position(center,center );
}
#main{
	h1{
		font-size: 48px;
	}
	width: 60%;
}
#btn{
	margin-top: 30px;
	a{
		@include btn();
	}
}
#about{
	margin-top: 60px;
}
#services{
	margin-top: 60px;
	width: 100%;
	padding-bottom: 40px;
}
#contact{
	margin-top: 60px;
	width: 100%;
	input{
		border-radius: 3px;
		width: 100%;
		border: 2px solid #1a2239;
	}
}
#projects{
	margin-top: 60px;
}
.about{
	display: flex;
	justify-content: space-between;
	.about_block1 {
		width: 50%;
		margin-top: 16px;
	}
	.about_block2{
		width: 50%;
		margin-top: 16px;
		display: flex;
		align-items: center;
	}
}
.about_info1{
	.img {
		img {
			width: 300px;
			height: 400px;
			border-radius: 10px;
		}
	}
	width: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0px auto;
}
.about_info2{
	width: 80%;
	font-size: 20px;
}
.services_center{
	width: 90%;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
#services_blocks{
	display: flex;
	justify-content: space-between;
	width: 80%;
}
.service_block{
	width: 22%;
	i {
		text-align: center;
		display: block;
		margin-bottom: 15px;
		font-size: 30px;
	}
	p {
		text-align: center;
		margin-bottom: 10px;
		text-align: justify;
		font-size: 20px;
	}
	h3 {
		color: $color_3;
		text-transform: uppercase;
	}
}
h3{
	text-align: center;
	margin-bottom: 10px;
}
.projects{
	margin-top: 60px;
	display: flex;
	justify-content: space-around;
}
.project{
	width: 38%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		border-radius: 15px;
	}
}
.text_block{
	text-align: center;
	padding-top: 20px;
}
textarea{
	border-radius: 3px;
	width: 100%;
	border: 2px solid #1a2239;
}
.contact_block{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.form{
	padding-top: 40px;
	padding-bottom: 30px;
	width: 50%;
	background-color: $pozadina2;
	form{
		width: 70%;
		margin: 0px auto;
		input{
			@include inputstyle();
		}
	}
}
#submit{
	background-color: $pozadina3;
	color: $boja4;
}
.info{
	width: 50%;
	display: flex;
	flex-direction: column;
	@include position(center,center );
}
.info_block{
	margin: 20px;
	p{
		display: inline-block;
	}
}
.info1{
	margin-top: 10px;
}
.social_block{
	margin-top: 20px;
}
.title{
	text-align: center;
	margin-bottom: 30px;
	font-size: 40px;
	color: $boja3;
}
footer{
	height: 60px;
	background-color: $pozadina3;
	display: flex;
	@include position(center,center );
	color: $boja4;
}