@media screen and (max-width: 600px)
{
	#cover{
		background-position:right;
	}
	#main h1{
		font-size:30px;
	}
	#services_blocks{
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	.contact_block{
		flex-wrap:wrap;	
	}
	#contact .contact_block .form{
		width:100%;
	}
	#contact .contact_block .info{
		width:100%;
	}
	#contact .contact_block .info .info_block{
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	#services_blocks{
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	.service_block{
		width:100%;
	}
}
@media screen and (max-width:480px)
{
	.center1{
		width:100%;
	}
	#main{
		margin-top:100px;
	}
	#page{
		width:100%;
	}
	#about,#services,#projects,#contact{
		margin-top:100px;
	}
	.title{
		font-size:28px;
	}
	header nav{
		width:100%;
	}
	header nav ul li{
		display:block;
		margin-bottom:4px;
		text-align:center;
	}
	#services_blocks{
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	.service_block{
		width:100%;
	}
	.service_block p{
		font-size:16px;
	}
	.about_info2{
		font-size:18px;
	}
	.info1{
		font-size:15px;
	}
	#projects .projects{
		display:flex;
		flex-wrap:wrap;
	}
	#projects .projects .project{
		width:90%;
		margin-bottom:20px;
	}
}


@media screen and (max-width:920px){
	#cover{
		background-position:right;
	}
	.center1{
		width:90%;
	}
	header{
		display:flex;
		flex-direction:column;
	}
	header nav{
		width:100%;
		text-align:center;
	}
	header nav ul li {
		display:block;
		text-align:center;
		font-size:30px;
	}
	header #logo{
		width:100%;
		text-align:center;
	}
	#page{
		width:90%;
		margin:0px auto;
	}
	
	#about .about{
		flex-direction:column;
		align-items:center;
		height:auto;
	}
	#about .about .img{
		display:flex;
		justify-content:center;
	}
	#about .about_block1{
		width:100%;
		display:flex;
		justify-content:center;
	}
	#about .about_block2{
		width:95%;
		display:flex;
		justify-content:center;
	}
		
}
@media screen and (max-width:400px){
	
}
@media screen and(max-width:1528px){
	#page{
		width:85%;
	}
	.center1{
		width:85%;
	}
}
